<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Serendipity</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!--Fonts-->
      	<link rel="stylesheet" href="../static/font/font-awesome-4.1.0/css/font-awesome.min.css">
      	<link rel="stylesheet" href="../static/font/open-sans/stylesheet.css">

        <!-- Bootstrap Latest compiled and minified CSS -->
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <script src="../static/js/vendor/modernizr-2.7.1.min.js"></script>

    </head>
    <body id="errorpage">

        <!-- <header>
          <div id="logocontainer">
            <img id="logo" src="../static/img/logo.png">
          </div>
          <h1>Serendipity</h1>
          <nav>

          </nav>

        </header> -->
        <div id="skrollr-body">

          <p>{{errormessage}}</p>
          <p
          {% if name != "loginfail" %}
            class="hidden"
          {% endif %}
          ><a href="login">Back to log in again.</a><p>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="600px" height="900px">
            <path
              style="fill:none;stroke:rgba(0,0,0,0.6);stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
              data-0="stroke-dashoffset:6000;" data-end="stroke-dashoffset:0;"

              d="M166.5,42.5c0,0-123.8,59.4-95,120c26.9,56.4,372.1-6.4,443.1,155
	C543.8,383.9,436.5,450,386.5,445s118.3-99.2,127.9,0.4C524,545,166.1,608.6,151.5,600c-13.1-7.7,6.8-19.8,23.6-12.4
	c31.6,13.9-8.6,127.4-8.6,127.4s22.5-100,45-80s2.5,67.5,2.5,67.5s15-82.5,30-65s17.5,70,10,77.5s25-42.5,25-42.5s28.4,39,11.7,43.3
	c-16.7,4.2,40.8-43.3,40.8-43.3S298,672,306,686s46,11,30,25s-38,8.1-36,5s70-39,73-37s-29.6-5.3-30,4s21,4,26,14s-7,29-18,28
	s74-81,74-81s-45,75.1-21,81s82-67,79-77s-38,66.8-27,77.4"
    />
          </svg>
          <h6>Let‘s meet <span><a href="{{url_for('index')}}">SERENDIPITY</a></span>.</h6>

        </div>

        <script type="text/javascript" src="../static/js/skrollr.min.js"></script>
        <script type="text/javascript">
        skrollr.init({
          forceHeight: false
        });
        </script>

    </body>
</html>
