<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Serendipity</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!--Fonts-->
      	<link rel="stylesheet" href="../static/font/font-awesome-4.1.0/css/font-awesome.min.css">
      	<link rel="stylesheet" href="../static/font/open-sans/stylesheet.css">

        <!--Site Logo-->
      	<link rel="icon" href="../static/img/logo.png" type="image/x-icon" >
      	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/logo.png">
      	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/logo.png">
      	<link rel="apple-touch-icon-precomposed" href="img/logo.png">

        <!-- Bootstrap Latest compiled and minified CSS -->
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- come with skrollr -->
        <link rel="stylesheet" href="../static/css/normalize.css">
        <!-- css3set -->
        <link rel="stylesheet" type="text/css" href="../static/css/component.css" />
    		<!-- personalstylesheet -->
        <link rel="stylesheet" href="../static/css/main.css">

        <!-- come with skrollr -->
        <script src="../static/js/vendor/modernizr-2.7.1.min.js"></script>
        <!-- css3set -->
        <script src="../static/js/modernizr.custom.js"></script>

    </head>
    <body id="encounter" class="themetwo">

        <header>
          <a href="index.html">
          <div id="logocontainer">
            <img id="logo" src="../static/img/logo.png">
          </div>
          <h1>Serendipity</h1>
          </a>
          <nav>
            <ul>
              <li><></li>
              <li></li>
              <li></li>
            </ul>
          </nav>

        </header>

        <h3>Encounter the one</h3>
        <div class="buttoncontainer"><button id="firstclick" onclick="changeuser()">Go!</button></div>

        <section id="holder">
          <h4><a href="#">Place Holder</a></h4>
          <div class="encounterphoto">
            <img src="../static/img/user.jpg" />
          </div>
        </section>

        <section id="user1" class="userthumb">
          <h4 id="username1"><a href="#">Harvey Specter</a></h4>
          <div class="encounterphoto">
            <img id="userphoto1" src="../static/img/user.jpg" />
          </div>
        </section>

        <section id="user2" class="userthumb">
          <h4 id="username2"><a href="#">John Smith</a></h4>
          <div class="encounterphoto">
            <img id="userphoto2" src="../static/img/2.jpg" />
          </div>
        </section>

        <section id="user3" class="userthumb">
          <h4 id="username3"><a href="#">Who Cares</a></h4>
          <div class="encounterphoto">
            <img id="userphoto3" src="../static/img/3.jpg" />
          </div>
        </section>

        <section id="user4" class="userthumb">
          <h4 id="username4"><a href="#">You Know Who</a></h4>
          <div class="encounterphoto">
            <img id="userphoto4" src="../static/img/4.jpg" />
          </div>
        </section>


        <footer>
          <p class="copyright">All rights reserved. | Victor &amp; Ruofan &#169; 2015</p>
        </footer>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="../static/js/imagesloaded.js"></script>
        <script src="../static/js/skrollr.js"></script>
        <script type="text/javascript">
        var s = skrollr.init();
        </script>
        <script src="../static/js/_main.js"></script>

        <script src="../static/js/jquery.flipshow.js"></script>

        <script type="text/javascript">
        function changeuser(){
          var rand;
          var max=4;
          var min=0;
          var i=1;
          rand = Math.ceil(Math.random()*(max-min)+min);
          document.getElementById("holder").style.display="none";
          while (i <= max){
            if (i == rand){
              document.getElementById("user"+i).style.display="block";
            }
            else {
              document.getElementById("user"+i).style.display="none";
            }
            i++;
          }

        };
    		</script>

    </body>
</html>
