{% extends "base.html" %}

  {% block bodyinfo%}
    <body id="encounter" class="themetwo">
  {% endblock%}

  {% block content%}
        <h3>Encounter the one</h3>
        <div class="buttoncontainer"><button id="firstclick" onclick="changeuser()">Go!</button></div>

        <section id="holder">
          <h4><a href="#" id="usercount">Place Holder {{useramount}}</a></h4>
          <div class="encounterphoto">
            <img src="../static/img/user.jpg" />
          </div>
        </section>

        {% for user in users %}
          <section id="user{{user[0]}}" class="userthumb">
            <h4 id="username{{user[0]}}"><a href="{{user[0]}}">{{user[3]}} {{user[4]}}</a></h4>
            <div class="encounterphoto">
              <img id="userphoto{{user[0]}}" src="../uploads/{{user[10]}}" />
            </div>
          </section>
        {% endfor %}

        <script type="text/javascript">
        function changeuser(){
          var rand;
          var max= {{useramount}};
          var min=0;
          var i=1;
          rand = Math.ceil(Math.random()*(max-min)+min);
          document.getElementById("holder").style.display="none";
          while (i <= max){
            if (i == rand){
              document.getElementById("user"+i).style.display="block";
            }
            else {
              document.getElementById("user"+i).style.display="none";
            }
            i++;
          }

        };
    		</script>

    {% endblock %}
