<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Serendipity</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!--Fonts-->
      	<link rel="stylesheet" href="../static/font/font-awesome-4.1.0/css/font-awesome.min.css">
      	<link rel="stylesheet" href="../static/font/open-sans/stylesheet.css">

        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <script src="../static/js/vendor/modernizr-2.7.1.min.js"></script>
        <style type="text/css">
			body {
				font-family: 'Open Sans', sans-serif;
			}
		</style>
    </head>
    <body class="loading">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

       	<div id="preload">
	       	<img src="../static/img/m1.png">
	       	<img src="../static/img/m2.png">
	       	<img src="../static/img/m3.png">
	       	<img src="../static/img/m4.png">
          <img src="../static/img/m5.png">
	       	<img src="../static/img/m6.png">
       	</div>

        <div id="whole">

        <div id="progress" data-0="width:0%;background-color:rgba(255,0,0,1)"
        data-end="width:100%;background-color:rgba(0,0,255,1)"></div>

        <div id="header">
          <div id="nav">

          </div>
          <div id="scrollmark">
            <img id="scroll" src="../static/img/scroll.png">
          </div>
          <p id="notice">KEEP SCROLLING DOWN</p>
        </div>

       	<main>

	        <section id="slide-1" class="homeSlide">
	        	<div class="bcg">
	        	</div>
		    </section>

		    <section id="slide-2" class="homeSlide">
		    	<div class="bcg">
		    	</div>
		    </section>

			<section id="slide-3" class="homeSlide">
				<div class="bcg">
			  </div>
			</section>

			<section id="slide-4" class="homeSlide">
				<div class="bcg">
			  </div>
			</section>

      <section id="slide-5" class="homeSlide">
				<div class="bcg">
			  </div>
			</section>

      <section id="slide-6" class="homeSlide">
				<div class="bcg">
          <div class="hsContainer">
            <a href="login">
              <div class="hsContent" id="startbutton">
                START
              </div>
            </a>
          </div>
			  </div>
			</section>

		</main>
  </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="../static/js/imagesloaded.js"></script>
        <script src="../static/js/skrollr.js"></script>
        <script type="text/javascript">
        var s = skrollr.init();
        </script>
        <script src="../static/js/_main.js"></script>

    </body>
</html>
