{% extends "base.html" %}

  {% block bodyinfo%}
    <body id="login">
  {% endblock%}
  {% block content%}
        <h2>Serendipity</h2>
        <section id="loginform">
          <form action='/postlogin' method = 'post'>
        			<fieldset>
        				<!-- <legend>LOG IN</legend> -->
                  <div class="container" id="logincontainer">
                    <div class="row">
          						<label for='loginemail' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Email:</label>
          						<input type='email' id = 'loginemail' name = 'loginemail' placeholder="test@test.edu" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 textinput"><br/>
          						<label for='loginpassword' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Password:</label>
          						<input type='password' id='loginpassword' name = 'loginpassword' placeholder="password123" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 textinput"><br/>
                    </div>
                  </div>
                  <a href="profile"><div id="loginbutton"><input type = 'submit' id="loginsubmit" value="LOG IN"></div></a>
        			</fieldset>
        	</form>
          <p>Haven't got an account? <span id="logtosign"><a href="signup">Sign up</a></span> now!</p>
        </section>
    {% endblock%}
