{% extends "base.html" %}

  {% block bodyinfo%}
    <body id="signup">
  {% endblock%}
  {% block content%}
        <h3>Join us</h3>
        <section id="signupform">
          <form action='/postsignup' method = 'post' enctype="multipart/form-data">
        			<fieldset>
        				<!-- <legend>LOG IN</legend> -->
                  <div class="container" id="signupcontainer">
                    <div class="row">
          						<label for='signupemail' class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >Email:</label>
          						<input type='email' id = 'signupemail' name = 'signupemail' placeholder="test@test.edu" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 textinput" required><br/>
          						<label for='signuppassword' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Password:</label>
          						<input type='password' id='signuppassword' name = 'signuppassword' placeholder="password123" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 textinput" required><br/>
                      <label for='signuprepassword' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Repeat Password:</label>
          						<input type='password' id='signuprepassword' name = 'signuprepassword' placeholder="password123" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 textinput" required onchange="checkpw()"><br/>
                    </div>
                  </div>
              </fieldset>
              <p id="errormessage" class="errormessage col-xs-12 col-sm-12 col-md-12 col-lg-12"></p>
              <div class="divider"></div>

              <fieldset>
        				<!-- <legend>Personal Information</legend> -->
                  <div class="container" id="signupcontainer2">
                    <div class="row">
                      <label for='signupfirstname' class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >First Name:</label>
          						<input type='text' id='signupfirstname' name = 'signupfirstname' placeholder="Harvey" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 textinput" required><br/>
                      <label for='signuplastname' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Last Name:</label>
          						<input type='text' id='signuplastname' name = 'signuplastname' placeholder="Spector" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 textinput" required><br/>
                      <label for='signupage' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Age:</label>
          						<input type='text' id='signupage' name = 'signupage' placeholder="46" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 textinput" required><br/>
                      <label for='signupgender' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Gender: </label>
                      <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <input type='radio' id='signupmale' name='signupgender' value='male' required> Male
                      </span>
                      <span class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <input type='radio' id='signupfemale' name='signupgender' value='female' required> Female
                      </span><br/>

                      <label for='signupstatus' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Relationship: </label>
                      <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <input type='radio' id='signupsingle' name='signupstatus' value='single' required> Single
                      </span>
                      <span class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <input type='radio' id='signupcouple' name='signupstatus' value='couple' required> In Realationship
                      </span><br/>

                      <label for='signupcountry' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Country: </label>
                      <select multiple name='signupcountry' class="col-xs-4 col-sm-4 col-md-4 col-lg-4 textinput" required>
                        <option value="us">United States</option>
                        <option value="china">China</option>
                        <option value="japan">Japan</option>
                        <option value="other">Other</option>
                      </select><br/>
                      <label for='signupintro' class="col-xs-12 col-sm-12 col-md-4 col-lg-12">Self-introduction: </label><br/>
                      <textarea id = 'signupintro' name = 'signupintro' placeholder="I don't pave the way for people. People pave the way for me." class="col-xs-12 col-sm-12 col-md-4 col-lg-12" required></textarea><br/>

                      <label for='signupphoto' class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Upload Your Photo:</label>
          						<input type='file' id='signupphoto' name = 'signupphoto' class="col-xs-8 col-sm-8 col-md-8 col-lg-8 textinput" required><br/>

                    </div>
                  </div>
                  <div id="signupbutton"><input type = 'submit' id="signupsubmit" value="SUBMIT"></div>
        			</fieldset>
        	</form>

        </section>

    {% endblock %}
